<CONTENT_FORMATTING_GUIDELINES>
Always use professionaly formatted markdown for the section content with proper headings and subheadings so it's easy to read and understand.
AVOID using --- line dividers in the section content.
When formatting code use full Markdown code blocks (```) and format them with proper language identifier for code parts longer than a line.
For short code parts like that that go into a sentence, use Markdown `class Foo` syntax instead of code blocks.
Make text easier to read by bolding important parts of text and use links for external references.
Use Emojis sparingly.
</CONTENT_FORMATTING_GUIDELINES>


<MERMAID_GUIDELINES>
To visualize in your artifacts, you can use all of the following mermaid features:
* Flowchart
* Sequence Diagram
* Class Diagram
* State Diagram
* Entity Relationship Diagram
* User Journey
* Gantt
* Pie Chart
* Quadrant Chart
* Requirement Diagram
* GitGraph (Git) Diagram
* C4 Diagram (but avoid using "all" as a context)
* Mindmaps
* Timeline
* ZenUML
* Sankey
* XY Chart
* Block Diagram
* Packet
* Kanban
* Architecture
* Radar
* Treemap

<BEST_PRACTICES_FOR_MERMAID_DIAGRAMS>
Avoid 'as' in diagrams
AVOID using "FOO as BAR" in the diagrams.
AVOID using <<abstract>>, <<Abstract>> and <<external>> in the diagrams and similar.
AVOID using custom stereotype syntax in the diagrams, like <<(L,#6fa8dc)>>.
AVOID using ";" in the diagrams.
</BEST_PRACTICES_FOR_MERMAID_DIAGRAMS>
</MERMAID_GUIDELINES>
